<ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/requests']" routerLinkActive="active">Requests</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/requests/user-create']" routerLinkActive="active">To create user</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/requests/user-list']" routerLinkActive="active">To get list users</a>
    </li> -->
</ul>